.header {
	background: grey;
	height: 50px;
	width: 100%;
	top: 0px;
	position: fixed;
}

#projectName {
	margin-top: 15px;
	text-decoration: none;
	color: white;
	float: left;
	margin-left: 5%;
}

#searchSite {
	float: left;
	margin-left: 30%;
	width: 20%;
	margin-top: 13px;
	border: none;
	border-radius: 10px;
}

#uploadPhoto, #viewReport, .log_out, #user_name {
    background-color: skyblue;
    border: solid;
    border-color: white;
    border-width: 1px;
    color: black;
    padding: 3px;
    border-radius: 5px;
}
